<div class="alignment">
  <form name="booking" action="" method="post" [formGroup]="viewOrderForm" (submit)="viewOrder()">
    <p class="header">Please provide email-address and order number</p>
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Lastname</mat-label>
            <input [(ngModel)]="getOrder.givenLastname" [ngModelOptions]="{standalone: true}" matInput type="string"  placeholder="Last Name"/>
            <mat-error *ngIf="viewOrderForm.hasError('required')">
              Lastname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="standard">
            <mat-label>Order ID</mat-label>
            <input [(ngModel)]="getOrder.givenOrderID" [ngModelOptions]="{standalone: true}" matInput placeholder="Order ID"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button style="width: 72%;" mat-raised-button color="primary" (click)="viewOrder()">View order</button>
        </td>
      </tr>
    </table>
  </form>
</div>

