<div class="alignment">
  <form name="booking" action="" method="post" [formGroup]="viewOrderForm" (submit)="viewOrder()">
    <p class="header">Please provide email-address and order number</p>
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email"  placeholder="Ex. pat@example.com"/>
            <mat-error *ngIf="viewOrderForm.hasError('email') && !viewOrderForm.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="viewOrderForm.hasError('required')">
              Email is <strong>required</strong>‚
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Order number</mat-label>
            <input matInput placeholder="order number"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button style="width: 72%;" mat-raised-button color="primary" (click)="viewOrder()">View order</button>
        </td>
      </tr>
    </table>
  </form>
</div>

