<div class="alignment">
  <form [formGroup]="viewOrderForm" (submit)="viewOrder()">
    <p class="header">Please provide your email-address and your order number</p>
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com">
            <mat-error *ngIf="viewOrderForm.hasError('email') && !viewOrderForm.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="viewOrderForm.hasError('required')">
              Email is <strong>required</strong>‚
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="standard">
            <mat-label>Order number</mat-label>
            <input matInput placeholder="order number">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <button mat-raised-button color="primary" (click)="viewOrder()">View order</button>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>

