<div class="alignment">
  <h1 class="header">Our Services</h1>
  <div class="center">
    <p>We work every day to improve our services for you. We offer car rental services in many European cities and are constantly expanding. We have made it our business to give our customers the best possible service and to assist them wherever possible. With our incomparable short lead time for our bookings, we can provide you with a car for all of your needs.</p>
  </div>
  <div class="center">
    <img src="./assets/fleet.jpeg" alt="Our fleet">
  </div>
  <div class="center">
    <p>Our fleet consists of a variety of modern cars. Due to their different characteristics, these different vehicles can meet almost all requirements. Whether you want to avoid a parking problem in the city centre with a small car, cruise through the city with our limousines or go on a long-distance tour with an SUV, we have something for all your needs.</p>
  </div>
  <h2 class="header">FAQs</h2>
  <div class="center">

  </div>

</div>
