<div class="alignment">
  <div class="header">Car is booked!</div>
  <br>
  <p class="text">
    The car is booked. Below you find all booking information you need.<br>
    <b>IMPORTANT: </b><br>
      For login: Please note the <b>booking ID + lastname</b> because you need it for your login.<br>
  </p>
  <h1 class="header">Your order:</h1>
  <div *ngIf="order !== undefined" class="text">
    <table>
      <tr>
        <td>Order ID:</td>
        <td>{{order.orderId}} </td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>{{order.first_name}}</td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td>{{order.last_name}}</td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>{{order.email}}</td>
      </tr>
      <tr>
        <td>Car:</td>
        <td>{{order.car.manufacturer}} {{order.car.model}} {{order.car.model_series}} {{order.car.construction_year}}</td>
      </tr>
      <tr>
        <td>Card number:</td>
        <td>{{order.card_number}}</td>
      </tr>
      <tr>
        <td>Date of booking:</td>
        <td>{{order.date_of_booking}}</td>
      </tr>
      <tr>
        <td>Date of rental:</td>
        <td>{{order.date_of_rental}}</td>
      </tr>
      <tr>
        <td>Date of return:</td>
        <td>{{order.date_of_return}}</td>
      </tr>
      <tr>
        <td>Location of rental:</td>
        <td>{{order.location_of_rental.location_name}} {{order.location_of_rental.street_name}} {{order.location_of_rental.city_name}}</td>
      </tr>
      <tr>
        <td>Location of return:</td>
        <td>{{order.location_of_return.location_name}} {{order.location_of_return.street_name}} {{order.location_of_return.city_name}}</td>
      </tr>
      <tr>
        <td>Payment method:</td>
        <td>{{order.method_of_payment}}</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>{{price}} {{order.car.currency_symbol}}</td>
      </tr>
      <tr>
        <td>Order status:</td>
        <td>{{order.order_status}}</td>
      </tr>
      <tr>
      <td>Car status:</td>
      <td>{{order.car.car_status}}</td>
    </tr>
    </table>
  </div>
</div>

