table, th, td{
  width: 80%;
  background-color: white;
  border-radius: 1em;
  padding:1%;
  margin: 1%;
}

table img{
  max-height: 100%;
  max-width: 100%;
}

.table-row-img{
  width:25%;
  padding: 2%;
}

.table-row-cartitle{
  font-size: 1.5em;
  width:50%;
  padding-top: 3%;
}

.table-row-cardDetails{
  width:50%;
}

.table-row-cardDetails img{
  width: 20px;
}

.table-row-booking{
  text-align: right;
  font-size: 2em;
  padding-right: 1%;
}

button{
  width:100%;
}
