<table>
  <tr>
    <td rowspan="3" class="table-row-img"><img alt="des is a platzhalter bild" src="../../../../assets/car.jpg"/></td>
    <td class="table-row-cartitle">Opel Mokka</td>
    <td></td>
  </tr>
  <tr>
    <td rowspan="2" class="table-row-cardDetails">
      <img alt="icon seats" src="../../../../assets/seats.png"/>{{car.seats}} seats <br>
      <img alt="icon gear" src="../../../../assets/gear.png"/>{{car.gear_type}} <br>
      <img alt="icon range" src="../../../../assets/km.png"/>{{car.engine_fuel}}<br>
      <img alt="icon suitcase big" src="../../../../assets/suitcase_big.png"/>(1 big suitcase) <br>
      <img alt="icon suitcase small" src="../../../../assets/suitcase_small.png"/>(1 small suitcase)</td>
    <td class="table-row-booking">$ {{car.price_in_doller_cent}}</td>
  </tr>
  <tr>
    <td class="table-row-booking"><button mat-raised-button color="primary" (click)="bookCar('8',inputSearch)">book</button></td>
  </tr>
  <tr><app-book-car [inputSearch]="inputSearch" *ngIf="visibilityBookCar"></app-book-car></tr>
</table>


