<div class="alignment">
  <h1 class="header">Wir haben DEIN Auto!!!!!!</h1>
  <table>
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <mat-select [(ngModel)]="selectedLocation" name="location">
            <mat-option *ngFor="let loc of locations" [value]="loc.value">
              {{loc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>from
        <mat-form-field [style.width.px]=150 appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input (dateInput)="onDateChangeFrom($event.value)" [value]="dateToday" matInput [matDatepicker]="pickerFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom ></mat-datepicker>
        </mat-form-field>

        <mat-form-field  [style.width.px]=150 appearance="fill">
          <mat-label>Choose a time</mat-label>
          <mat-select [(ngModel)]="selectedTimeFrom" name="location">
            <mat-option *ngFor="let time of timeList" [value]="time.value">
              {{time.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>to
        <mat-form-field  [style.width.px]=150 appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input  (dateInput)="onDateChangeTo($event.value)" [value]="dateTodayPlusSeven" matInput [matDatepicker]="pickerTo">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field [style.width.px]=150  appearance="fill">
          <mat-label>Choose a time</mat-label>
          <mat-select [(ngModel)]="selectedTimeTo" name="location">
            <mat-option *ngFor="let time of timeList" [value]="time.value" >
              {{time.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td style="width: 20%;">
        <button mat-raised-button color="primary" (click)="searchCars()">book</button>
      </td>
    </tr>
  </table>

  <p>You selected: <br>
    location {{selectedLocation}} <br>
    From {{selectedDateFrom}} - {{selectedTimeFrom}}  <br>
    To {{selectedDateTo}} - {{selectedTimeTo}}</p>

  <div>
    <div *ngFor="let item of nrItems">
      <app-cars-item class="center"></app-cars-item>
    </div>
  </div>
</div>
