<div>
  <h1 class="header">We got the car you need</h1>
  <table class="cars-component">
    <tr>
      <td>from
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input (dateInput)="onDateChangeFrom($event.value)" [value]="dateToday" matInput [matDatepicker]="$any(pickerFrom)">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a time</mat-label>
          <mat-select [(ngModel)]="inputSearch.selectedTimeFrom" name="timeFrom">
            <mat-option *ngFor="let time of timeList" [value]="time.value">
              {{time.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>to
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input (dateInput)="onDateChangeTo($event.value)" [value]="dateTodayPlusSeven" matInput
                 [matDatepicker]="$any(pickerTo)">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a time</mat-label>
          <mat-select [(ngModel)]="inputSearch.selectedTimeTo" name="timeTo">
            <mat-option *ngFor="let time of timeList" [value]="time.value">
              {{time.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select [(ngModel)]="inputSearch.selectedCurrencySymbol" name="currency">
            <mat-option *ngFor="let cur of currencyTest" [value]="cur.symbol">
              {{cur.symbol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

  </table>
  <div>
    <div *ngFor="let car of carsTest">
      <div>
        <app-cars-item class="center" [inputSearch]="inputSearch" [car]="car"></app-cars-item>
      </div>
    </div>
  </div>
</div>
