
.alignment{
  padding: 3%;
}

.center{
  display: flex;
  justify-content:center;
  align-items:center;
}

.header{
  font-size: 2em;
  margin: 1%;
}

table{
  width: 100%;
  background-color: white;
  border-radius: 1em;
  text-align: center;
}
table tr td{
  padding-left: 3%;
}

