<div class="topnav">
  <mat-toolbar color="primary">
    <div>
      <a [routerLink]="'/#'">
        <img src="./favicon.ico" alt="company image">
      </a>
    </div>
    <a mat-button (click)="openOrderDialog()">View Order</a>
    <a mat-button (click)="openAdminDialog()">Admin</a>
    <div class="topnav-right">
      <a [routerLink]="'/userdetail'">
        <img src="./assets/profile_white.png" alt="profile-picture">
      </a>
    </div>
  </mat-toolbar>
</div>
<div class="banner-image">
  <div class="banner-text">
    <h1 class="title">We got the car you need</h1>
    <p>and here is a subtitle</p>
    <button mat-raised-button color="accent" [routerLink]="'/services'">Our services</button>
  </div>
</div>

<mat-toolbar color="accent">
  <a mat-button [routerLink]="'/services'">Services</a>
  <a mat-button [routerLink]="'/cars'">Cars</a>
  <a mat-button [routerLink]="'/locations'">Locations</a>
  <a mat-button *ngIf="isAdmin" [routerLink]="'/admin-cars'">Admin Cars </a>
</mat-toolbar>
<div class="alignment">
  <router-outlet></router-outlet>
</div>
