
.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mat-toolbar a:hover{
  color: #223C0E;
}

.alignment{
  padding: 3%;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-element{
  margin: auto;
}
