<div *ngIf="visibility==true" class="alignment">
  <div class="header">Booking data: </div><br>
  <table>
    <tr>
      <td>From:</td>
      <td>{{inputSearch.selectedDateFrom}}, {{inputSearch.selectedTimeFrom}}:00</td>
    </tr>
    <tr>
      <td>To:</td>
      <td>{{inputSearch.selectedDateTo}}, {{inputSearch.selectedTimeTo}}:00</td>
    </tr>
    <tr>
      <td>car id:</td>
      <td>{{inputSearch.car_id}}</td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Pick-up location</mat-label>
          <mat-select [(ngModel)]="inputSearch.selectedLocation" name="location">
            <mat-option *ngFor="let loc of locations" [value]="loc.city_name">
              {{loc.street_name}}, {{loc.postal_code}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <form name="booking" action="" method="post">
    <mat-form-field class="full-width, forminput" appearance="fill" >
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Max" name="firstname" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required/>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Firstname is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width, forminput" appearance="fill">
      <mat-label>Lastname</mat-label>
      <input type="text" matInput placeholder="Musterfrau" name="lastname" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required/>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Lastname is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field [style.width.px]=150 class="full-width, forminput" appearance="fill">
      <mat-label>Payment</mat-label>
      <mat-select [(ngModel)]="selectedPayment" name="payment" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required>
        <mat-option *ngFor="let payment of paymentList" [value]="payment.viewValue" >
          {{payment.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Payment option is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width, forminput" appearance="fill">
      <mat-label>Card number</mat-label>
      <input type="number" matInput placeholder="4820 1283 4087 8657" name="cardnr" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required/>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Card number is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field class="full-width, forminput" [style.width.px]=100  appearance="fill">
      <mat-label>CVV</mat-label>
      <input type="number" matInput placeholder="123" name="cvv" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required/>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        CVV is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width, forminput" [style.width.px]=150  appearance="fill">
      <mat-label>Valid until</mat-label>
      <input matInput [matDatepicker]="$any(pickerTo)" name="validDate" [formControl]="emailFormControl" [errorStateMatcher]="matcher"  required/>
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width, forminput" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="max@musterfrau.at">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" class="alignment-button" (click)="bookCar()">buy</button>
  </form>

</div>

