
.alignment{
  width: 100%;
  padding: 5%;

}

.header{
  font-size: 1.4em;
}

table{
  vertical-align: center;
  horiz-align: center;
  width: 80%;
}

td {
  padding-right: 1%;
}

table button{
  width: 90%;
}

form{
  padding-top: 2%;
}

.forminput{
  margin-right: 2%;
}

.alignment-button{
  float: right;
}
