@use "@angular/material" as mat;
// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "~bootstrap/dist/css/bootstrap.css";
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theming-primary: mat.define-palette(mat.$light-green-palette,900);
$theming-accent: mat.define-palette(mat.$light-green-palette, 200);
$theming-warn: mat.define-palette(mat.$red-palette);
$theming-accent-blue: mat.define-palette(mat.$blue-palette, 300);

// Create the theme object (a Sass map containing all of the palettes).

$theme: mat.define-light-theme((
  color: (
    primary: $theming-primary,
    accent: $theming-accent,
    accent-blue: $theming-accent-blue,
    warn: $theming-warn
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
  background-color: #F4F6F4;
}

.page-title{
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margin-top-s{
  margin-top: 1em;
}

.margin-top-m{
  margin-top: 2em;
}

.pull-right {
  float: right;
}
